/*!
	-----------------------------------------------------------------------------

	2.0 - Basicos
			#
			# Login
			# Footer
			# Usuarios

	-----------------------------------------------------------------------------
	*/

/*  Load Overlay
	======================================= */
.loader-overlay
	background-color: $black


/*  A
	======================================= */
a
	color: $link-primary
	&:active,
	&:focus,
	&:hover
		color: $link-primary-active

/*  Btn
	======================================= */
/* primary */
.btn-primary
	border-color: $btn-primary
    background-color: $btn-primary
	&:active,
	&:focus,
	&:hover
		border-color: $btn-primary-active
		background-color: $btn-primary-active

/* succes */
.btn-success
	border-color: $success
	background-color: $success
	&:active,
	&:focus,
	&:hover
		border-color: $success-active
		background-color: $success-active

/* danger */
.btn-danger
	border-color: $error
    background-color: $error
	&:active,
	&:focus,
	&:hover
		border-color: $error-active
		background-color: $error-active

/*  Label
	======================================= */
/* Normal */
.page-login-v3
	form
		.form-material
			label
				color: #a3afb7
/* Active */
.form-material
	.form-control.focus~.floating-label,
	.form-control:focus~.floating-label
		color: $color-primary

/* Error */
.form-material.form-group.has-danger
	.form-control.focus~.floating-label,
	.form-control:focus~.floating-label,
	.form-control:not(.empty)~.floating-label
		color: $error

/* Succes */
.form-material.form-group.has-success
	.form-control.focus~.floating-label,
	.form-control:focus~.floating-label,
	.form-control:not(.empty)~.floating-label
		color: $color-primary

/*  Input
	======================================= */
.form-material
	.form-control,
	.form-control.focus,
	.form-control:focus
		background-image: -webkit-gradient(linear,left top,left bottom,from($color-primary),to($color-primary)),-webkit-gradient(linear,left top,left bottom,from($color-gray),to($color-gray))
		background-image: -webkit-linear-gradient($color-primary,$color-primary),-webkit-linear-gradient($color-gray,$color-gray)
		background-image: -o-linear-gradient($color-primary,$color-primary),-o-linear-gradient($color-gray,$color-gray)
		background-image: linear-gradient($color-primary,$color-primary),linear-gradient($color-gray,$color-gray)


/*  Page
	======================================= */
.layout-full
	.page
		height: auto

/*  Login
	======================================= */
/* Imagen de fondo */
.page-login-v3
	&:before
		@extend .bg


/* Login */
.login
	// background-color: red
	.brand
		.brand-img
			height: 100px
			margin-bottom: 20px
	
	form
		.form-group
			.help-block,
			.help-block.help-block-error
				@extend .color-red
				font-size: .9rem
				@extend .text-left

/*  Header
	======================================= */
.navbar-inverse
	background-color: $bg-primary
	.navbar-collapse,
	.navbar-form
		border-color: $border-color

/*  Footer
	======================================= */
.site-footer
	.site-footer-legal
		img
			height: 30px
	
	.site-footer-right
		img
			height: 30px

.page-copyright
	.social
		a
			img
				height: 30px

/*  Usuarios
	======================================= */
/* Crear */
.usuarios-create
	.user-file
		cursor: pointer
		display: block
		height: 200px
		margin: 0 auto
		max-width: 80%
		width: 200px

/* Actualizar */
.usuarios-actualizar
	.user-file
		cursor: pointer
		display: block
		height: 200px
		margin: 0 auto
		max-width: 80%
		width: 200px