/*!
	-----------------------------------------------------------------------------

	2.0 - Login
			# Login

	-----------------------------------------------------------------------------
	*/

/*  Login
	======================================= */
.bkgd-login
	&:before
		@extend .bg
		background-image: url('../images/login-bkgd.jpg')

	.page-content
		margin-right: 5vw
		
	.panel-login

		form
			margin: 0

			.form-group
				input[type="password"],
				input[type="text"]
					@extend .input
				
				.help-block
					&.help-block-error
						@extend .color-red
						font-size: .9rem
						font-weight: $regular
						padding: 2px 12px
						@extend .text-left

			button.btn-salsas
				margin-bottom: 40px

			a.btn-salsas,
			a.link
				margin-left: 0
			
			a.btn-salsas
			
			a.link
				color: $white
				font-size: 1.25rem
				@extend .letter-spacing-1
				@extend .text-center
				@extend .text-decoration-line

		.panel-login-footer
			img
				@extend .mb-2vh
				@extend .mt-3vh
				@extend .img-respon
			p
				@extend .hashtag